html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin-top: 0;
}

.container {
    width: 375px;
    border: 2px black solid;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #c6c6c6;
}

.logo {
    width: 127px;
    height: 60px;
}

.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.post-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;    
}

.profile-bio {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.bio-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-name,
.profile-location {
    padding: 2px 15px;
    margin: 0;
}

.profile-name {
    font-size: 13px;
}

.profile-bio {
    font-size: 12px;
}

.post-img {
    width: 100%;
}

.post-buttons {
    display: flex;
    column-gap: 10px;
    padding: 10px;
}

.icons {
    width: 23px;
}

.icons:hover {
    opacity: .5;
}

.post-info {
    padding: 0 0 10px 10px;
}

.likes,
.caption {
    font-weight: 700;
}